@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot');
	src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('fonts/icomoon.woff') format('woff'),
		url('fonts/icomoon.ttf') format('truetype'),
		url('fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.icon-expand:before {
	content: "\e600";
}
.icon-contract:before {
	content: "\e601";
}
.icon-camera:before {
	content: "\e602";
}
.icon-feed:before {
	content: "\e603";
}
.icon-dice:before {
	content: "\e604";
}
.icon-bubbles:before {
	content: "\e605";
}
.icon-close:before {
	content: "\e606";
}
.icon-resize:before {
	content: "\e607";
}
/*Desktop*/
body {
    margin: 0;
}
#desktop {
    width: 1024px;
    height: 640px;
    background: #bada55;
    position: relative;
    margin: 30px;
    overflow: hidden;
}
#icon-bar {
    width: 100%;
    background: #55bada;
    height: 64px;
    position: absolute;
    bottom: 0;
    z-index: 9999;
}
#icon-bar button {
    border: 0;
    height: 64px;
    width: 64px;
}
/*Icons*/ /*icons from http://dakirby309.deviantart.com/art/Metro-UI-Icon-Set-725-Icons-280724102*/
#gallery-icon {
    background: url("img/gallery.png");
    background-size: 100%;
}
#rss-icon {
    background: url("img/rss.png");
    background-size: 100%;
}
/*App*/
.app {
    position: absolute;
    box-shadow: 0 0 2px 0 #222;
    border: 1px solid #333;
}
.app.moving {
    opacity: .7;
    cursor: move;
}
.app.resizing {
    border-color: #aaa;
    cursor: nwse-resize;
}
.app.resizing footer button {
    color: #aaa;
    cursor: nwse-resize;
}
.app.maximized {
    border: 0;
}
.app header {
    width: 100%;
    height: 32px;
}
.app header:before {
    content: "";
    height: 32px;
    width: 32px;
    background-size: 100%;
    display: inline-block;
}
.app h2 {
    margin: 0;
    font: 1em "Helvetica";
    vertical-align: top;
    padding: 8px;
    display: inline-block;
}
.app header button {
    position: absolute;
    top: 0;
    margin: 0;
    border: 0;
    background: transparent;
    cursor: pointer;
    padding: 8px;
    font-size: 16px;
}
.app header button:hover, .app header button:focus {
    padding: 6px;
    font-size: 20px;
    outline: 0;
}
.app .icon-close {
    right: 0;
}
.app .icon-expand, .app .icon-contract {
    right: 24px;
}
.app header button:active {
    padding: 8px;
    font-size: 16px;
}
.app article {
    position: absolute;
    top: 32px; bottom: 32px; left: 0; right: 0;
    overflow: auto;
    word-wrap: break-word;
}
.app footer {
    width: 100%;
    height: 31px;
    border-top: 1px solid #aaa;
    position: absolute;
    bottom: 0;
    background: #eee;
}
.app footer button {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0;
    margin: 0;
    border: 0;
    background: transparent;
    color: #333;
    width: 16px;
    height: 16px;
    font-size: 16px;
}
.app footer button:hover {
    cursor: nwse-resize;
}
.app footer p {
    margin: 0;
    padding-top: 10px;
    font-family: Consolas;
    font-size: 12px;
    padding-left: 8px;
    color: #555;
}
.app footer p.loading {
    padding-left: 31px;
}
.app footer p.loading:before {
    content: url("loader.gif");
    position: absolute;
    left: 8px;
    top: 8px;
}
/*Gallery app*/
.gallery-app {
    background: #ba55da;
}
.gallery-app header {
    background-color: #daba55;
}
.gallery-app header:before {
    background-image: url(img/gallery.png);
}
.gallery-app article {
    padding: 4px 2px;
}
.gallery-app article a {
    margin: 2px 4px;
    padding: 2px;
    background: #ddd;
    border: 1px solid #eee;
    border-radius: 2px;
    display: inline-block;
}
.gallery-app article a img {
    margin: auto;
    display: block;
}
/*RSS app*/
.rss-app {
    background: #da55ba;
}
.rss-app header {
    background-color: #55daba;
}
.rss-app header:before {
    background-image: url(img/rss.png);
}
/*Image window*/
.image {
    background: white;
}
.image header {
    background: yellow;
}
.image img {
    vertical-align: middle;
}