button {
    display: block;
}
div {
    border: 2px solid #ccc;
    display: inline-block;
    padding: 1px;
}
ol {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: auto;
}
li {
    float: left;
}
img {
    padding: 1em;
    margin: 1px;
    border: 2px solid #999;
    vertical-align: middle;
}
img:hover {
    cursor: default;
}
img[src="pics/0.png"] {
    border-color: #ccc;
}
img[src="pics/0.png"]:hover {
    border-color: #999;
    cursor: pointer;
}
img.found {
    opacity: .5;
    cursor: default;
}
aside {
    display: inline-block;
    vertical-align: top;
    overflow: auto;
}
h2, h2 + p {
    opacity: .5;
    margin: 0 0 2px;
    padding: .78em;
    font: 1.4em "Helvetica";
    border: 2px solid #999;
    float: left;
}
h2 {
    border-right: none;
    clear: left;
}
h2 + p {
    border-left: none;
}
h2.current, h2.current + p {
    opacity: 1;
}
/*h2.current:before {
    content: "→ ";
}*/